$blue: #60759d;
$pink: #e70067;
$light-blue: #5489c3;

$main-font-regular: 'CRP-Regular';
$main-font-bold: 'CRP-Bold';
$main-font-medium: 'CRP-Medium';
$main-font-light: 'CRP-Light';

$side-font: 'Geometria-Medium';
